{
  "rules": [
    {
      "name": "memory",
      "description": "ALWAYS INCLUDE to HAVE Project Context",
      "globmatch": "",
      "alwaysApply": true,
      "applyWhen": "",
      "order": 1,
      "path": ".cursor/rules/memory.mdc"
    },
    {
      "name": "implement",
      "description": "Always attach when Implementing Code (Act/Code MODE)",
      "globmatch": "",
      "alwaysApply": false,
      "applyWhen": "",
      "order": 2,
      "path": ".cursor/rules/implement.mdc"
    },
    {
      "name": "debug",
      "description": "Always include while DEBUGGING",
      "globmatch": "",
      "alwaysApply": false,
      "applyWhen": "",
      "order": 3,
      "path": ".cursor/rules/debug.mdc"
    },
    {
      "name": "directory-structure",
      "description": "directory structure to follow",
      "globmatch": "",
      "alwaysApply": false,
      "applyWhen": "",
      "order": 4,
      "path": ".cursor/rules/directory-structure.mdc"
    },
    {
      "name": "archiecture-understanding",
      "description": "rules to parse solution architecture from docs/architecture.md",
      "globmatch": "",
      "alwaysApply": false,
      "applyWhen": "",
      "order": 5,
      "path": ".cursor/rules/archiecture-understanding.mdc"
    },
    {
      "name": "error-documentation",
      "description": "Document major failure points in this project and they were solved.  To be filled by AI.",
      "globmatch": "",
      "alwaysApply": false,
      "applyWhen": "",
      "order": 6,
      "path": ".cursor/rules/error-documentation.mdc"
    },
    {
      "name": "lessons-learned",
      "description": "Captures important patterns, preferences, and project intelligence, living document that grows smarter as progress happens",
      "globmatch": "",
      "alwaysApply": false,
      "applyWhen": "",
      "order": 7, 
      "path": ".cursor/rules/lessons-learned.mdc"
    }
  ]
} 