**/bin/
**/obj/
**/out/
**/.vs/
**/.vscode/
**/.idea/
**/*.user
**/*.userosscache
**/*.dbmdl
**/*.jfm
**/node_modules/
**/bower_components/
**/logs/
**/temp/
.DS_Store
.git/
.gitignore
Dockerfile*
docker-compose*
README.md
LICENSE
