**/bin/
**/obj/
**/out/
**/.vs/
**/.vscode/
**/.idea/
**/*.user
**/*.userosscache
**/*.dbmdl
**/*.jfm
**/node_modules/
**/bower_components/
**/logs/
**/temp/
.DS_Store
.git/
.gitignore
.env
**/WebStore.db
**/cafe_shop.db
**/*.db-shm
**/*.db-wal
README.md
LICENSE
